
.bigCard {
    height: calc(224px + 100vw);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: flex-start;
}

.imgSection {
    width: 100vw;
    min-height: 100vw;
    position: relative;
}

.image {
    object-position: top;
    object-fit: cover;
}

.infoSection {
    box-sizing: border-box;
    height: 224px;
    width: 100%;
    padding-top: var(--card-big-v-padding);
    padding-bottom: var(--card-big-v-padding);
    padding-left: var(--card-big-h-padding);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--c-primary-background);
    position: relative;
}

.typeTitle {
    font-size: 16px;
    font-weight: 400;
    color: var(--c-primary-caption);
    line-height: 24px;
}

.nameTitle {
    font-size: 24px;
    font-weight: 500;
    color: var(--c-primary-title);
    line-height: 32px;
}

@media (min-width: 800px) {

    .bigCard {
        flex-flow: row nowrap;
        width: 87%;
        justify-content: center;
        height: calc((100vw - 13vw) / 2);
        min-height: 350px;
        max-height: 704px;
    }

    .infoSection {
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        max-width: 50%;
        height: 100%;
        padding-left: 9.33%;
        row-gap: 32px;
    }

    .imgSection {
        width: 50%;
        height: 100%;
        min-height: unset;
        background-position: right;
    }

    .typeTitle {
        font-size: 18px;
        line-height: 32px;
    }
    .nameTitle {
        font-size: 40px;
        line-height: 48px;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .infoSection {
        padding-left: 8.13%;
    }
    .nameTitle {
        font-size: 28px;
        line-height: 32px;
    }

}