

.bigCard {
    height: 603px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 48px;
}

.imgSection {
    background-image: url('/portrait.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.infoSection {
    padding: var(--card-big-v-padding) var(--card-big-h-padding);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--c-primary-background);
}

.typeTitle {
    font-size: 16px;
    font-weight: 400;
    color: var(--c-primary-caption);
    line-height: 24px;
    margin: 0 0 4px 0;
}

.nameTitle {
    font-size: 24px;
    font-weight: 500;
    color: var(--c-primary-default);
    line-height: 32px;
    margin: 0;
}

@media (min-width: 800px) {

    .bigCard {
        flex-flow: row nowrap;
        max-width: 1392px;
        min-width: 1392px;
        height: 704px;
        margin-bottom: 80px;
    }

    .infoSection {
        box-sizing: border-box;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        max-width: 50%;
    }

    .imgSection {
        width: 50%;
        background-position: right;
    }

    .typeTitle {
        font-size: 18px;
        line-height: 32px;
    }
    .nameTitle {
        font-size: 40px;
        line-height: 48px;
    }
}