
.hero {
    box-sizing: border-box;
    // background-image: url("/hero-mobile.png");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    min-width: 375px;
    width: 100%;
    max-width: 100%;
    height: 647px;
    margin: 0 auto;
    padding-bottom: var(--hero-v-padding);
    padding-left: var(--hero-h-padding);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;

    &__content {
        height: 144px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }

    &__textContainer {
        width: fit-content;
        height: auto;
    }
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.productTitle {
    font-size: 2rem;
    color: var(--c-white-default);
    margin: 0;
    font-weight: 600;
    line-height: 40px;
    white-space: nowrap;
}

.productSubTitle {
    font-size: 2rem;
    color: var(--c-white-transparent-70);
    margin: 0;
    font-weight: 600;
    line-height: 40px;
}

@media (min-width: 600px) and (max-width: 799px) {
    .productSubTitle {
        color: var(--c-primary-subtitle);
    }
}

@media (min-width: 675px) and (max-width: 799px) {
    .productTitle {
        color: var(--c-primary-title);
    }
}

@media (min-width: 800px) {

    .hero {
        // background-image: url("/hero.png");
        height: 832px;
        justify-content: center;
        padding-left: 13%;

        &__content {
            height: 232px;
        }
    }

    .image {
        object-position: top;

    }

    .productTitle {
        font-size: 4rem;
        color: var(--c-primary-title);
        line-height: 72px;
    }

    .productSubTitle {
        font-size: 4rem;
        color: var(--c-primary-title);
        opacity: 0.8;
        margin: 0;
        line-height: 72px;
    }
}