@use "../globals" as *;

.button {
    background: $c-secondary-default;
    color: $c-white-default;
    font-size: $button-text;
    font-weight: 500;
    padding: $button-v-padding $button-h-padding;
    border: none;
    margin-top: 1rem;
    transition: 100ms;
}

.button:hover {
    box-shadow: 0px 2px 40px rgba(42, 42, 42, 0.1);
    transition: 100ms;
}
.button:active {
    background: $c-secondary-darker;
    transition: 100ms;
}

@media (min-width: 800px) {

    .button {
        width: 190px;
        line-height: 2rem;
    }
}